<template>
    <div>
    <h3>Produto</h3>
    <div class="container">
      <form @submit="validateAndSubmit">
        <div v-if="errors.length">
            <div class="alert alert-warning" v-bind:key="index" v-for="(error, index) in errors">
                {{error}}
            </div>
        </div>
        <input type="hidden" class="form-control" v-model="id" >
        
        <fieldset class="form-group">
          <label>Nome</label>
          <input type="text" class="form-control" v-model="nome">
        </fieldset>
        <fieldset class="form-group">
          <label>Valor</label>
          <input type="number" class="form-control" v-model="valor">
        </fieldset>
        <button class="btn btn-success" type="submit">Save</button>
      </form>
    </div>
  </div>
</template>

<script>

import ProductDataService from '../service/ProductDataService';
export default {
    /* eslint no-unused-vars: ["error", { "args": "none" }] */
    name: "productDetails",
    data() {
        return {
            nome: "",
            valor: 0.0,
            errors: []
        }
    },
    computed: {
        id() {
            return this.$route.params.id;
        }
    },
    methods: {
        refreshProductDetails() {
            ProductDataService.retrieveProduct(this.id).then(res => {
                this.nome = res.data.nome;
                this.valor = res.data.valor
            });
        },
        validateAndSubmit(e) {
            e.preventDefault()
            console.log({
                id: this.id,
                nome: this.nome,
                valor: this.valor
            })
            if (this.validate()){
                if (this.id !== "0"){
                    console.log("vai atualizar produto")                   
                    ProductDataService.updateProduct(this.id, {
                        idProduto: this.id,
                        nome: this.nome,
                        valor: this.valor
                    }).then(() => {
                        this.$router.push('/produtos')
                    })
                    .catch(erro => {
                        this.errors.push(erro.message)
                    })
                } else {
                    console.log("novo produto")      
                    ProductDataService.createProduct({
                        nome: this.nome,
                        valor: this.valor
                    }).then(() => {
                        this.$router.push('/produtos')
                    })
                    .catch(erro => {
                        this.errors.push(erro.message)
                    })
                }
            }

            
        },
        validate(){
            this.errors = [];
            if (!this.nome){
                this.errors.push("Insira o nome do produto!")
                return false
            } else if (this.nome.length < 3){
                this.error.push("Insira um nome válido!")
                return false
            } else if (this.valor <= 0){
                this.errors("Insira um valor válido!")
                return false
            }
            return true;
        }
    },
    created() {
        this.refreshProductDetails();
    }

}
</script>

<style>

</style>