<template>
    <div class="container">
        <h3>Lista de Produtos</h3>
        <div v-if="message" class="alert alert-success">
            {{message}}
        </div>
        <div class="container">    
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="product in products" v-bind:key="product.idProduto">
                    <td>{{product.idProduto}}</td>
                    <td>{{product.nome}}</td>
                    <td>{{product.valor}}</td>
                    <td><button class="btn btn-success" v-on:click="updateProductClicked(product.idProduto)">Update</button></td>
                    <td><button class="btn btn-danger" v-on:click="deleteProductClicked(product.idProduto, product.nome)">Delete</button></td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <button class="btn btn-success" v-on:click="addProductClicked()">Add</button>
            </div>
        </div>
    </div>
</template>

<script>
import ProductDataService from '../service/ProductDataService'
export default {
    /* eslint no-unused-vars: ["error", { "args": "none" }] */
    name: "ProductList",
    data() {
        return {
            products: [],
            message: null
        }
    },
    methods: {
        refreshProducts() {
            ProductDataService.returnAllProducts()
                .then(response => {
                    this.products = response.data
                })
        },
        deleteProductClicked(id, nome) {
            ProductDataService.deleteProduct(id).then(response => {
                this.message = `Produto ${nome} removido com sucesso!`;
                this.refreshProducts();
            });
        },
        updateProductClicked(id){
            this.$router.push(`/produtos/${id}`)
        },
        addProductClicked() {
            this.$router.push(`/produtos/0`);
        }
    },
    created(){
        this.refreshProducts()
    }
}
</script>

<style>


</style>